*{
    border: 0%;
    margin: 0%;
   
    
}
section{
    background-image: url(image\ copy\ 5.png);
}
nav{
    display: flex;
    height: 20%;
    justify-content: center;
    padding: 2%;
    text-align: center;

}
.nav img{
    width: 50%;
    border-radius: 50px;
}
div ul{
    display: flex;
    list-style: none;
    gap: 15%;
    text-align: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}

.intro{
    text-align: left;
    
}
.intro h1 {
    font-size: 36px;
    
}

.intro h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.subscribe{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.subscribe input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    border: #333 solid;
    justify-content: left;
}

.subscribe button {
    display: flex;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFF;
   color:blue;
}
.card{
display: flex;
text-align: center;
justify-content: start;

}
.card1{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:45%;
    border: #333 1px solid;
    border-radius: 4%;
    box-shadow: 0px 4px 12px rgb(10, 10, 10);
}
.card1 img{
width: 50%;
}

.card1 h1{
    
    font-size: x-large;
    color: #1c1b1b;
}
.card1 h3{
    font-size: medium;
    color: #333;
}

.card2{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:45%;
    border: #333 1px solid;
    border-radius: 4%;
    box-shadow: 0px 4px 12px rgb(10, 10, 10);
    gap: 20%;
}
.card2 img{
    width: 50%;
}

.card2 h1{
    font-size: x-large;
    color: #333;
}
.card2 h3{
    font-size: medium;
    color: #333;
}
.card3{
    display: flex;
    flex-direction: column;
    align-items:center;
    width:45%;
    border: #333 1px solid;
    border-radius: 4%;
    
    
}
.card3 img{
    width: 50%;
}

.card3 h1{
    font-size: x-large;
    color: #333;
}
.card3 h3{
    font-size: medium;
    color: #333;
}

footer{
    background-image: url(image\ copy\ 5.png);
}

.footer1{
    
}